<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <header class="container-fluid bg-dark">
        <nav class="navbar navbar-dark navbar-expand-md">
            <h1 class="navbar-brand">Welcome to Deepak's Gallery</h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Shop">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Orders">Orders</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="About">About</a></li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                    }

                    @*<li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="UtilizeCpu">Utilize CPU</a></li>*@
                </ul>
            </div>
        </nav>
    </header>

    <section class="container-fluid p-5">
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer class="container-fluid"><div class="text-center">Copyrights 2020 Deepak's Gallery app</div></footer>
    <environment names="Development">
        <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/index.js"></script>

        <script src="~/clientapp/runtime.js"></script>
        <script src="~/clientapp/polyfills.js"></script>
        <script src="~/clientapp/styles.js"></script>
        <script src="~/clientapp/vendor.js"></script>
        <script src="~/clientapp/main.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"
                asp-fallback-src="~/node_modules/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/dist/gallery.min.js" asp-append-version="true" ></script>
    </environment>
    @RenderSection("Scripts", false)
</body>
</html>