@{
    ViewBag.Title = "Home Page";
}
    <div class="row">
        <div class="col-md-6">
            <div class="product-info">
                <img src="~/img/AVI03530.JPG" />
                <h3> AARAV </h3>
                <ul class="product-props">
                    <li>Price : 1000 INR</li>
                    <li>Artist : REEMA Agarwal</li>
                    <li>Title : 2 nd birthday</li>
                    <li>Description : Self-Potrait</li>
                </ul>
                <button id="buyButton" class="btn btn-bg btn-dark">Buy</button>
            </div>
            <div id="theForm">
                <form>
                    <label>Your Name : </label>
                    <br />
                    <input />
                    <br />

                    <label>Email: </label>
                    <br />
                    <input type="email" />
                    <br />
                    <label>Description</label>
                    <br />
                    <textarea></textarea>
                    <br />
                    <input type="button" value="Send Message" />
                </form>

            </div>
            <div>
                <div id="loginToggle">Login</div>
                <form id="loginform" class="popup-form">
                    <div>
                        <label>User name:</label>
                        <input />
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" />
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label>Remember me?</label>
                    </div>

                    <div>
                        <input type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
