<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">

        <form method="post">
            <div class="form-group">
                <span>Click the button to utilize the CPU</span>
                <button type="submit" class="btn bg-primary btn-sm"> Utilize CPU </button>
            </div>
        </form>
    </div>
</div>
