<div class="row">
    <h3>Confirm Order</h3>
    <div *ngIf="errorMessage" class="alert alert-warning" >{{errorMessage}}</div>
    <table class="table table-bordered table-hover">
        <tr *ngFor="let o of data.order.orderItems">
            <td><img src="/img/{{ o.productArtId }}.jpg" alt="o.productTitle" class="img-thumbnail checkout-thumb" /></td>
            <td>{{ o.productCategory }}({{ o.productSize }}) - {{ o.productArtist }}: {{ o.productTitle }}</td>
            <td>{{ o.quantity }}</td>
            <td>{{ o.unitPrice|currency:'INR':true }}</td>
            <td>{{ (o.unitPrice * o.quantity)|currency:'INR':true }}</td>
        </tr>
    </table>
    <div class="col-md-4 offset-md-8 align-self-end text-right">
        <table class="table table-condensed">
            <tr>
                <td class="text-right">Subtotal</td>
                <td class="text-right">{{ data.order.totalAmount|currency:'INR':true }}</td>
            </tr>
            <tr>
                <td class="text-right">Shipping</td>
                <td class="text-right">$ 0.00</td>
            </tr>
            <tr>
                <td class="text-right">Total:</td>
                <td class="text-right">{{ data.order.totalAmount|currency:'INR':true }}</td>
            </tr>
        </table>
        <div>
            <button class="btn btn-success m-1" (click)="onPurchase()">Complete Purchase</button>
            <a routerLink="/" class="btn btn-info m-1">Cancel</a>
        </div>
    </div>

</div>